<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppConfig.Application.TEP_TimeshareExhangPlatform"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_tep_app"
        android:label="Unwind"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_tep_app"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TEPTimeshareExchangePlatform"
        tools:targetApi="31">
        <activity
            android:name=".UI.Activity.UserActivity.MyPostingActivity.MyPostingDetailActivity.MyPostingDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyPostingActivity.PricingSupportActivity.PricingSupportActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyPostingActivity.MyPostingActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.FlowPosting.MyTimeshareDetailAcitivity.MyTimeshareDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.FlowPosting.ExchangePostingActivity.ExchangePostingActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.FlowPosting.RentalPostingActivity.RentalPostingActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.MemberShipActivity.MemberShipActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyOrderActivity.MyOrderActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.PaymentActivity.RentalPaymentActivity.RentalPaymentConfirmActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.PaymentActivity.RentalPaymentActivity.RentalPaymentActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.TimeshareDetailActivity.TimeshareDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.TimeshareListActivity.TimeshareListActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.ResortDetailActivity.ImageListActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.ResortDetailActivity.ResortDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.LoginActivity_screen2"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.SplashActivity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.CommonActivity.DayPickerActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.LocationActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.MainActivity.MainActivity"
            android:exported="true" />
    </application>

</manifest>