<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- // For Location Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AppConfig.Application.TEP_TimeshareExhangPlatform"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_tep_app"
        android:label="Unwind"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_tep_app"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TEPTimeshareExchangePlatform"
        tools:targetApi="31">
        <activity
            android:name=".UI.Activity.AuthActivity.ForgotPasswordActivity.ForgotPasswordActivity"
            android:exported="true" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <activity
            android:name=".UI.Activity.UserActivity.MyDashboardActivity.MyDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.NotificationActivity.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.FeedbackListActivity.FeedbackListActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CommonActivity.BlogListActivity.BlogDetailActivity.BlogDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CommonActivity.BlogListActivity.BlogListActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.UserActivity.MyExchangeRequestActivity.ExchangeRequestOnPostActivity.ExchangeRequestOnPostActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.UserActivity.MyExchangeRequestActivity.MyExchangeRequestDetailActivity.MyExchangeRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.UserActivity.MyExchangeRequestActivity.MyExchangeRequestActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CommonActivity.RequestExchangeActivity.RequestExchangeActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyExchangePostingActivity.MyExchangePostingDetail.MyExchangeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.UserActivity.MyExchangePostingActivity.MyExchangePostings.MyExchangePostingActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CommonActivity.SearchPostingActivity.ExchangeDetailActivity.ExchangeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.CommonActivity.SearchPostingActivity.SearchPostingActivity"
            android:exported="true" />
        <activity
            android:name=".Sample.SampleActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.OwnerInfoActivity.OwnerInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Activity.MainActivity.Fragment.BookingFragment.BookingDetailActivity.BookingDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyInfoActivity.MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.UserActivity.MyTimeshareActivity.MyTimeshareActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.Payment.DepositActivity.DepositActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.MapViewActivity.MapViewActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.Payment.PaymentPackage.VNPayActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            tools:targetApi="tiramisu" />
        <activity
            android:name=".UI.Activity.Payment.PaymentPackage.PaymentResultActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.Payment.PaymentPackage.PaymentPackageActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyTransactionActivity.MyTransactionDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyTransactionActivity.MyTransactionActivity"
            android:exported="true"
            android:label="@string/title_activity_transcation"
            android:theme="@style/Base.Theme.TEPTimeshareExchangePlatform.NoActionBar" />
        <activity
            android:name=".UI.Activity.UserActivity.MyRentalPostingActivity.MyPostingDetailActivity.MyPostingDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyRentalPostingActivity.PricingSupportActivity.PricingSupportActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyRentalPostingActivity.MyPostingList.MyPostingActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyTimeshareActivity.MyTimeshareDetailAcitivity.MyTimeshareDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.ResortDetailActivity.ResortDetail.ResortDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.ResortDetailActivity.PostingOfResortListActivity.PostingOfResortActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.ResortDetailActivity.ResortDetail.ImageListActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.PostingFlow.PostingFlowActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.MemberShipActivity.MemberShipActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.UserActivity.MyOrderActivity.MyOrderActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.Payment.PaymentRentalActivity.PaymentRentalActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.SearchPostingActivity.PostingDetailActivity.PostingDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.AuthActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.SplashActivity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.CommonActivity.DayPickerActivity.DayPickerActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.CommonActivity.LocationActivity.LocationActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.MainActivity.MainActivity"
            android:exported="true" />
    </application>

</manifest>